x64
*.log
*.tlog
*.obj
*.pdb
*.filters
*.cmake
*.bin
*.exe
*.db
*.user
*.db-shm
*.opendb
*.db-wal
*.ipch
pch.cpp
pch.h

Makefile
*.make
*.xcodeproj
*.xcworkspace
*.swp
*.sdf
*.sln
*.suo
*.ncb
*.vcproj*
*.vcxproj*
*.VC.opendb
*.VC.db
*.opensdf
*.workspace
*.project
*.tags
*.sublime-*
.cproject
.settings
.buildpath

bin
obj

premake5.exe

libs\/ua51.lib