.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #222;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: rgb(91, 91, 255);
}

.hljs,
.hljs-subst {
  color: #ddd;
}

.hljs-variable {
  color: #fff;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-template-tag,
.hljs-template-variable {
  color: #d88;
}

.hljs-comment {
  color: #AFA;
}
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #777;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}
.hljs-number {
  color: rgb(8, 218, 255);
}

.hljs-emphasis {
  font-style: italic;
}
